.container {
    padding-left:30%;
    padding-right: 30%;
    margin-top: 10px;
}
table {
    border-collapse: collapse;
    font-size: 28px;
  }
  
  table, th, td {
    border: 3px solid black;
  }
  .col1 {
      text-align: right;
      vertical-align: text-top;
  }
  .col2 {
      width: 300px;
  }
  .message {
      padding-top: 10px;
      color: red;
      padding-left:30%;
      padding-right: 30%;
  }
  .success {
      color: black;
  }
  .btn-row {
      text-align: center;
  }
  span {
      color: red;
      padding-left:30%;
      padding-right: 30%;
      padding-top: 10%;
  }